<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2026 LumineDroid
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>

  <!-- devices -->
  <project path="device/xiaomi/peridot" name="ryznstk/pure" remote="github" revision="ascp" />
  <project path="kernel/xiaomi/sm8635" name="kernel_xiaomi_sm8635" remote="gitlab" revision="resuki" />
  <project path="kernel/xiaomi/sm8635-devicetrees" name="ryznstk/kernel_xiaomi_sm8635-devicetrees" remote="github" revision="lineage-23.2" />
  <project path="kernel/xiaomi/sm8635-modules" name="ryznstk/kernel_xiaomi_sm8635-modules" remote="github" revision="lineage-23.2" />

  <!-- hardware -->
  <project path="hardware/xiaomi" name="ryznstk/hardware_xiaomi_los" remote="github"/>

  <!-- vendor -->
  <project path="vendor/xiaomi/peridot" name="blu96/vendor-xiaomi-peridot-yt" remote="gitlab" revision="a17new"/>

</manifest>