<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2026 ASCP OS
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>

  <!-- devices -->
  <project path="device/xiaomi/marble" name="poco-f5-mable/android_device_xiaomi_marble" remote="github" revision="17"/>
  <project path="device/xiaomi/marble-kernel" name="poco-f5-mable/android_device_xiaomi_marble-kernel" remote="github" revision="17"/>

  <!-- hardware -->
  <project path="hardware/xiaomi" name="poco-f5-mable/android_hardware_xiaomi" remote="github" revision="17"/>

  <!-- vendor -->
  <project path="vendor/xiaomi/marble" name="poco-f5-mable/proprietary_vendor_xiaomi_marble" remote="github" revision="17"/>

</manifest>
